<!-- !form-div -->
<form class="text-center  px-3  d-flex flex-column gap-2" [formGroup]="loginForm" (submit)="loginFun()">
  <h2 class="mb-4 h1">Sign In</h2>

  <!-- !email inputs -->
  <div class="input-fild">
    <div class="input-Group">
      <i class="fa-regular fa-envelope fa-xl "></i>
      <input type="text" placeholder="Enter Your UserName" formControlName="username" id="userName">
    </div>
    <app-custom-error [formName]="loginForm" [inputName]="'username'"></app-custom-error>
  </div>

  <!-- !Password input -->
  <div class="input-fild">
    <div class="input-Group ">
      <i class="fa-solid fa-key "></i>
      <input [type]="passwordType ? 'text' : 'password'" placeholder="Enter Your password" formControlName="password"
        id="email">
    </div><span class="passwordTogle" (click)="onPasswordTypeChange()">
      @if (passwordType) {
      <i class="fa-solid fa-eye"></i> }
      @else {<i class="fa-solid fa-eye-slash"></i>
      }
    </span>



    <app-custom-error [formName]="loginForm" [inputName]="'password'"></app-custom-error>
    <!-- cutom btn -->
    <div class="text-end me-2 mt-2">
      <a class="end-100 form-text-link p-1" routerLink="/auth/forget-password">Forget Password .?</a>
    </div>
  </div>
  @if (loginError) {
  <p class="fs-7 text-start text-danger p-0 my-2 ">Invalid Email Or
    Password</p> }
  <app-custom-btn [isLoading]="isLoading">submit</app-custom-btn>

</form>
