<section class="w-100 vh-100 ">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <!-- Left side -->
      <div class="col-lg-5  vh-100 d-none d-lg-flex  login-left rounded-end-4">

      </div>

      <!-- Right side -->
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-center">
        <div class="login-form w-100 ">
          <div class="text-center mb-5 align-self-start">
            <img src="images/blackLogo.png" alt="Logo" class="w-25">
          </div>
          <router-outlet></router-outlet>


        </div>
      </div>
    </div>
  </div>


</section>
