@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #f82ba9;
  --secondary-color: #160e4b;
  --text-color: #333333;
  --background-color: #feedf7;
  --white-color: #ffff;
  --bg-pink: #feedf7;
  --primary-pink: #f82ba9;
  --primary-purple: #8c52ff;
  --primary-navy: #160e4b;
  --text-gray: #757f95;
  --bg-light-pink: #feedf7;
  --btn-shadow: #0000000d;
  --white: #ffffff;
  --font-main: "Inter", sans-serif;
  --highlight-pink: #ec4899;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #e0e5ec;
}
::-webkit-scrollbar-thumb {
  background-color: #f472b6;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(81, 72, 72, 0.5) inset;
}
